timeout: {TIMEOUT}
default_entry: {DEFAULT_ENTRY}

interface_branding: NasuaOS
interface_branding_color: 00aaaa
interface_help_hidden: {HELP_HIDDEN}
interface_help_color: 00aa00
interface_help_color_bright: aaaaaa
interface_resolution: {RESOLUTION}
interface_rotation: 0

wallpaper: boot():{WALLPAPER}
wallpaper_style: stretched

# Debug
verbose: {VERBOSE}

# Entries
/NasuaOS 32-bit
    protocol: multiboot2
    path: boot():/boot/kernel_32bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/config/boot_config.txt
    module_path: boot():/config/defaults.txt
    resolution: {RESOLUTION}
    comment: Basic console-only environment

/NasuaOS 64-bit
    protocol: limine
    path: boot():/boot/kernel_64bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/config/boot_config.txt
    module_path: boot():/config/defaults.txt
    resolution: {RESOLUTION}
    comment: Full operating system with graphical interface (recommended)

/Advanced Options

    // Safe Mode
        ///Safe Mode 64-bit
            protocol: limine
            path: boot():/boot/kernel_64bit
            module_path: boot():/system/rootfs.img
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/boot_config_sf.txt
            module_path: boot():/config/defaults.txt
            resolution: {RESOLUTION}
            comment: Start NasuaOS 64-bit with safe mode configuration

        ///Safe Mode 32-bit
            protocol: multiboot2
            path: boot():/boot/kernel_32bit
            module_path: boot():/system/rootfs.img
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/boot_config_sf.txt
            module_path: boot():/config/defaults.txt
            resolution: {RESOLUTION}
            comment: Start NasuaOS 32-bit with safe mode configuration


    // Boot Tools
        ///Boot Manager
            protocol: multiboot2
            path: boot():/boot/utils/boot_mgr
            module_path: boot():/boot/kernel_32bit
            module_path: boot():/boot/kernel_64bit
            module_path: boot():/system/rootfs.img
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/defaults.txt
            resolution: {RESOLUTION}
            comment: Configure and select available NasuaOS boot environments

        /// Boot Installer
            protocol:multiboot2
            path: boot():/boot/utils/installer
            resolution: {RESOLUTION}
            comment: Install NasuaOS on disk (Only ATA disk supported)

    // Recovery & Diagnostics
        ///Recovery Environment
            protocol: multiboot2
            path: boot():/boot/utils/recovery_tool
            comment: Start a minimal recovery environment for system repair

        ///Hardware Detection
            protocol: multiboot2
            path: boot():/boot/utils/hdt
            comment: Detect and display installed hardware and system information

        ///Hardware Diagnostics
            protocol: multiboot2
            path: boot():/boot/utils/hdtest
            comment: Run hardware diagnostics and system tests

        ///Kernel Debugger
            protocol: multiboot2
            path: boot():/boot/utils/kdebug
            comment: Inspect kernel state, CPU registers, and debugging information


    // File System Tools
        ///ClawFS Explorer
            protocol: multiboot2
            path: boot():/boot/utils/clawfs_explorer
            comment: Browse, inspect, and manage ClawFS files and directories