timeout: {TIMEOUT}
default_entry: {DEFAULT_ENTRY}
interface_branding: NasuaOS

interface_help_hidden: {HELP_HIDDEN}

# Debug

verbose: {VERBOSE}

interface_resolution: {RESOLUTION}

wallpaper: boot():{WALLPAPER}
wallpaper_style: stretched

/NasuaOS 32-bit
    protocol: multiboot2
    path: boot():/boot/kernel_32bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/config/boot_config.txt
    module_path: boot():/config/defaults.txt
    resolution: {RESOLUTION}
    comment: Basic console-only environment

/NasuaOS 64-bit
    protocol: limine
    path: boot():/boot/kernel_64bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/config/boot_config.txt
    module_path: boot():/config/defaults.txt
    resolution: {RESOLUTION}
    comment: Full operating system with graphical interface (recommended)

/Advanced Options
    //Boot Options
        ///Safe Mode 32-bit
            protocol: multiboot2
            path: boot():/boot/kernel_32bit
            module_path: boot():/system/rootfs.img
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/boot_config_sf.txt
            module_path: boot():/config/defaults.txt
            comment: Boot into a 32-bit safe mode environment for troubleshooting

        ///Safe Mode 64-bit
            protocol: limine
            path: boot():/boot/kernel_64bit
            module_path: boot():/system/rootfs.img
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/boot_config_sf.txt
            module_path: boot():/config/defaults.txt
            comment: Boot into a 64-bit safe mode environment for troubleshooting

        ///Boot Manager
            protocol: multiboot2
            path: boot():/boot/utils/boot_mgr
            module_path: boot():/config/defaults.txt
            comment: Boot into system boot manager

    //Utilities
        ///Recovery Tool
            protocol: multiboot2
            path: boot():/boot/utils/recovery_tool
            module_path: boot():/config/boot_config.txt
            module_path: boot():/config/boot_config_rc.txt
            comment: Boot into a recovery environment for troubleshooting

        ///ClawFS Explorer
            protocol: multiboot2
            path: boot():/boot/utils/clawfs_explorer
            comment: Browse and manage files, directories, and partitions on ClawFS

        ///Hardware Detection Tool
            protocol: multiboot2
            path: boot():/boot/utils/hdt
            comment: Launch Hardware Detection Tool (HDT) to view system information

        ///Hardware Test
            protocol: multiboot2
            path: boot():/boot/utils/hdtest
            comment: Run hardware diagnostic tests

        ///Kernel Debugger
            protocol: multiboot2
            path: boot():/boot/utils/kdebug
            comment: Inspect kernel state and CPU registers
