timeout: {TIMEOUT}
default_entry: {DEFAULT_ENTRY}
interface_branding: NasuaOS

interface_help_hidden: yes

# Debug

verbose: {VERBOSE}

interface_resolution: {RESOLUTION}

wallpaper: boot():{WALLPAPER}
wallpaper_style: stretched

/NasuaOS 32-bit
    protocol: multiboot2
    path: boot():/boot/kernel_32bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/boot/boot_config.txt
    module_path: boot():/config/defaults.txt
    module_path: boot():/system/assets/images/background_dark.png
    resolution: {RESOLUTION}
    comment: Basic console-only environment

/NasuaOS 64-bit
    protocol: limine
    path: boot():/boot/kernel_64bit
    module_path: boot():/system/rootfs.img
    module_path: boot():/boot/boot_config.txt
    module_path: boot():/config/defaults.txt
    module_path: boot():/system/assets/images/background_dark.png
    resolution: {RESOLUTION}
    comment: Full operating system with graphical interface (recommended)

/Advanced Options
    //Safe mode 32-bit
        protocol: multiboot2
        path: boot():/boot/kernel_32bit
        module_path: boot():/system/rootfs.img
        module_path: boot():/boot/boot_config.txt
        module_path: boot():/boot/boot_config_sf.txt
        module_path: boot():/system/assets/images/background_dark.png
        comment: Boot into a 32bit safe mode environment for troubleshooting

    //Safe mode 64-bit
        protocol: limine
        path: boot():/boot/kernel_64bit
        module_path: boot():/system/rootfs.img
        module_path: boot():/boot/boot_config.txt
        module_path: boot():/boot/boot_config_sf.txt
        module_path: boot():/system/assets/images/background_dark.png
        comment: Boot into a 64bit safe mode environment for troubleshooting

    // Utilities
        ///Hardware Test
            protocol: multiboot2
            path: boot():/boot/utils/hdtest
            comment: Run RAM test utility

        ///Hardware Detecion Tool
            protocol: multiboot2
            path: boot():/boot/utils/hdt
            comment: Launch Hardware Detection Tool (HDT) to view system information

        ///Disk Tools
            protocol: multiboot2
            path: boot():/boot/utils/disk_tools
            comment: Disk Tools
        
        ///System Information
            protocol: multiboot2
            path: boot():/boot/utils/sys_info
            comment: Information abaout system